@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --black: #000000;
  --dark-blue: #14213d;
  --yellow: #fca311;
  --gray: #f3eded;
  --white: #ffffff;

  --default-padding: 2rem 5rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

button {
  background-color: transparent;
  border: none;
}

h1 {
  font-size: 2.986rem;
}

h2 {
  font-size: 2.488rem;
}

h3 {
  font-size: 2.074rem;
}

h4 {
  font-size: 1.728rem;
}
/* Header section */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: var(--default-padding);
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  color: var(--black);
  font-weight: 600;
}

.header__logo img {
  width: 1.5rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.open__menu {
  display: none;
  cursor: pointer;
  font-size: 1rem;
}

.close__menu {
  display: none;
}

.nav__list,
.nav__list__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.nav__links,
.nav__links__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
  gap: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: all ease-in-out 0.2s;
}

.nav__links:hover,
.nav__links__footer:hover {
  border-bottom: 2px solid var(--yellow);
  color: var(--yellow);
}

.nav__links i {
  font-size: 1rem;
}

.login__section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.login__btn {
  display: flex;
  gap: 0.5rem;
  cursor: pointer;
}

.get__started__btn {
  padding: 0.5rem;
  background-color: var(--yellow);
  color: var(--white);
  cursor: pointer;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  transition: all ease-in-out 0.2s;
}

.get__started__btn:hover {
  background-color: var(--white);
  color: var(--yellow);
  border: 1px solid var(--yellow);
}

/* Hero section */
.hero__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5rem;
  padding: var(--default-padding);
}

.hero__info {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.hero__form {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  gap: 1rem;
}

.hero__form #emailAddress {
  border: none;
  padding: 0.5rem;
  box-shadow: -5px 5px 20px -10px rgba(0, 0, 0, 0.75);
}

.hero__sponsors {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.hero__sponsors a {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__sponsors img {
  width: 100%;
  max-width: 5rem;
}

.hero__image img {
  flex: 1;
  max-width: 100%;
}

/* Testimonial section */
.testimonial__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--default-padding);
}

.testimonial__cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 2rem;
}

.cards__items {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;
  padding: 2rem;
  border-radius: 0.25rem;
  background-color: #e5e5e569;
  box-shadow: -13px 5px 30px -19px #14213d3f;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}

.cards__items:hover {
  background-color: var(--yellow);
  color: var(--white);
  transform: translateY(-5px);
}

.card__image i {
  font-size: 1.5em;
}

.card__content {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
}

/* Messages section */
.messages__section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  padding: var(--default-padding);
  margin-top: 2rem;
  gap: 2rem;
}

.messages__image {
  display: flex;
  align-items: center;
}
.messages__image img {
  width: 100%;
}

.messages__content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: var(--dark-blue);
  gap: 1rem;
}

.messages__cards {
  border-radius: 0.25rem;
  background-color: var(--gray);
  padding: 1.5rem;
  width: 100%;
  border-left: 5px solid transparent;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.messages__cards:nth-of-type(2),
.messages__cards:nth-of-type(3) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.messages__cards:hover {
  box-shadow: -5px 5px 10px -5px rgba(20, 33, 61, 0.2);
  background-color: var(--white);
  border-left: 3px solid var(--yellow);
}

/* Pricing section */
.pricing__section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--default-padding);
  background-color: var(--dark-blue);
}

.pricing__title {
  text-align: center;
  color: var(--white);
}

.pricing__plans {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  color: var(--dark-blue);
  margin-top: 3rem;
  gap: 2rem;
  width: 100%;
}

.pricing_cards {
  background-color: var(--white);
  border-radius: 0.25rem;
  padding: 2rem;
}

.price {
  color: var(--yellow);
  font-weight: 500;
}

.pricing_cards hr {
  margin-block: 2rem;
  height: 2px;
  background-color: var(--gray);
  border: none;
}

.benefits__list {
  display: flex;
  flex-direction: column;
}

.benefits__items {
  display: flex;
  justify-content: flex-start;
  gap: 0.5rem;
}

.benefits__items i {
  color: var(--yellow);
}

.bi.bi-x-circle-fill.not__available {
  color: var(--gray);
}

/* Footer section */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--default-padding);
  background-color: var(--gray);
}

.copyright {
  font-weight: 600;
  color: var(--dark-blue);
}

/* Media Queries */
@media (max-width: 768px) {
  :root {
    --default-padding: 2rem 2rem;
  }

  * {
    font-size: 15px;
  }

  .open__menu {
    display: block;
  }

  .close__menu {
    display: block;
  }

  .navbar {
    background-color: var(--yellow);
    box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 2rem;
    align-items: flex-start;
    display: none;
    width: 50vw;
  }

  .navbar.enabled {
    display: block;
  }

  .nav__list {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    gap: 1rem;
  }

  .nav__links {
    color: var(--white);
  }

  .nav__links:hover {
    border-bottom: 2px solid var(--black);
    color: var(--dark-blue);
  }

  .close__menu {
    color: var(--white);
    cursor: pointer;
  }

  .close__menu:hover {
    color: var(--black);
  }

  .login__section {
    display: none;
  }

  /* Hero section */
  .hero__image {
    display: none;
  }
}
